S3method(print,myclass)
export(ColorPhenotype)
export(OneRow)
export(OutPutResult)
export(PictureResults)
export(hex2rgb)
importFrom("grDevices", "col2rgb", "rgb", "rgb2hsv")
importFrom("utils", "read.table", "write.table")
importFrom("imager", "load.image")
